

nav{
    display: flex;
    background-color: #007BFF;
    width: 100%;
    align-items: center; 
    height: 8%;
    padding-left: 3rem;
}

nav h3{
    color: white;
    font-size: 30px;
    margin-right: 2rem;
    font-family: 'Open Sans', sans-serif;
}

nav a{
    color : white;
    text-decoration: none;
    margin: 0.8rem;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover{
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style the link/button that will toggle the dropdown */
  .dropdown-link {
    color: white;
    text-decoration:underline;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 10px;
  }

  /* Style the individual dropdown items */
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration:underline;
  }

  /* Show the dropdown content when hovering over the dropdown link */
  .dropdown:hover .dropdown-content {
    display: block;
  }